<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ECommerceBack</display-name>
<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	<init-param> 
		<param-name>javax.ws.rs.Application</param-name> 
 			<param-value>com.doranco.server.CustomApplication</param-value> 
		</init-param> 
		<load-on-startup>1</load-on-startup> 
	</servlet>

	<filter>
	  <filter-name>CORSFilter</filter-name>
	  <filter-class>com.doranco.filter.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>CORSFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>